{% extends "base.html.j2" %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Admin Panel</h1>
<ul>
  <li><a href="/admin/users">Users</a></li>
  <li><a href="/admin/slots">Slots</a></li>
</ul>
{% endblock %}
