{% extends "base.html" %}
{% from 'macros.html' import abrToWeekday, timeslot %}

{% block head %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='admin_panel.js') }}"></script>
{% endblock %}

{% block body %}
<h1>Admin Panel</h1>
<h2>General Settings</h2>
<h2>Apps</h2>
<ul id="apps">
  {% for a in apps %}
  <li id="{{ 'app_' + a['id']|string }}">
    <a href="{{ url_for('app_settings', app_id=a['id']) }}">{{ a['name'] }}</a>
    <a href="#" class="remove_app" data-app-id="{{ a['id'] }}" data-app-name="{{ a['name'] }}">(X)</a>
  </li>
  {% endfor %}
</ul>
<a href="{{ url_for('new_app') }}">New App</a>
<h2>Users</h2>
<ul id="users">
  {% for u in users %}
  <li id="{{ u }}">{{ u }} <a href="#" class="remove_user" data-user="{{ u }}">(X)</a></li>
  {% endfor %}
</ul>
<a href="{{ url_for('new_user') }}">New User</a>
{% endblock %}
