{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}

{% block body %}
<h1>{{ app['name'] }}</h1>
<h2>Settings</h2>
<form method="post">
  Name: <input type="text" name="name" value="{{ app['name'] }}"><br>
  {# TODO: Choose file screen maybe? #}
  Path: <input type="text" name="filepath" value="{{ app['filepath'] }}"><br>
  Slot Length: <input type="text" name="slot_length" value="{{ app['slot_length'] }}"><br>
  <input type="submit" value="Update">
</form>
<h2>users</h2>
<div id="users">
  {% for u in users %}
  <p id="{{ u }}">{{ u }} <a href="#" class="remove_user" data-user="{{ u }}">(remove)</a></p>
  {% endfor %}
</div>
<input type="text" name="new_user" value="" id="new_user"><button type="button" name="add_user" id="add_user">Add User</button>
<input type="hidden" name="app_id_hidden" id="app_id" value="{{ app['id'] }}">
{% endblock %}
