<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>MakeTime</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>

<body>
  {% if username %}
  <p>Logged in as {{username}} - <a href="/logout">Logout</a></p>
  {% endif %}
  {% block body %}<p>Base</p>{% endblock %}
</body>
</html>
