{# converts number between 0 and 6 to weekday abbrevation, Mo - 0, Su - 6#}
{% macro numToWeekdayAbbr(d) %}
{% if d == 0 %}
{{- "Mo" -}}
{% elif d == 1 %}
{{- "Tu" -}}
{% elif d == 2 %}
{{- "We" -}}
{% elif d == 3 %}
{{- "Th" -}}
{% elif d == 4 %}
{{- "Fr" -}}
{% elif d == 5 %}
{{- "Sa" -}}
{% elif d == 6 %}
{{- "Su" -}}
{% else %}
{{- "Out of Bounds" -}}
{% endif %}
{% endmacro %}

{% macro timeslot(slot) %}
{{- '%02d' % (slot // 2) -}}:{{- '%02d' % ((slot % 2) * 30) -}}
{% endmacro %}

{% macro timeIntervall(start, length) %}
{{- timeslot(start) + " - " + timeslot(start + length) -}}
{% endmacro %}
