{% extends "base.html" %}

{% macro timeslot(slot) %}
{{- '%02d' % (slot // 2) -}}:{{- '%02d' % ((slot % 2) * 30) -}}
{% endmacro %}

{% block body %}
<h1>Update availible times for '{{ app_name }}'</h1><br>
<p>Slot length: {{ slot_length }} hours</p>
<form method="post">
  {% for s in slots %}
  {{ loop.index }}. Day:
  <select name="day{{ loop.index }}">
    {% for d in ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")%}
    <option value="{{ d[:2] }}" {% if s['day'] == d[:2] %}{{ "selected" }}{% endif %}>{{ d }}</option>
    {% endfor %}
  </select>
  Time:
  <select name="start{{ loop.index }}">
    {# one slot per half hour -> 48, +1 (and -1) to start range at 0 #}
    {% for i in range(48 - slot_length + 1) %}
    {% set start = loop.index - 1 %}
    {% set end = loop.index + slot_length - 1 %}
    <option value="{{ start }}" {% if s['start_time'] == start %}{{ "selected" }}{% endif %}>{{ timeslot(start) }} - {{ timeslot(end) }}</option>
    {% endfor -%}
  </select>
  <br>
  {% endfor %}
  <input type="submit" value="Update">
</form>
{% endblock %}
