{% extends "base.html.j2" %}
{% from 'macros.html.j2' import timeIntervall, numToWeekdayAbbr %}

{% block body %}
<h1>Update availability</h1>
<form method="post">
  <table>
    <tr>
      <td></td>
      {% for i in range(7) %}
      <td>{{ numToWeekdayAbbr(loop.index0) }}</td>
      {% endfor %}
    </tr>
    {% for s in slots %}
    <tr>
      <td>{{ timeIntervall(s['start_time'], slot_length) }}</td>
      {% for i in range(7) %}
      {% set outer_loop = loop %}
      <td>
        <input type="checkbox" name="{{ "slot:" + s['id']|string + "-day:" + i|string }}" {% for u in user_slots %}{% if u['day'] == outer_loop.index0 and u['slot_id'] == s['id'] %}checked{% break %}{% endif %}{% endfor %}>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <input type="submit" name="submit" value="Update">
</form>
{% endblock %}
