{% extends "base.html.j2" %}
{% from 'macros.html.j2' import timeslot, numToWeekdayAbbr %}

{% block body %}
<h1>Update availability</h1>
<form method="post">
  {% for i in range(3) %}
  {% set outer_loop = loop %}
  <label>{{ loop.index }}. Day:</label>
  <select name="day-{{ loop.index }}">
    {% for k in range(7) %}
    <option value="{{ loop.index0 }}" {% if user_slots[outer_loop.index0]['day'] == loop.index0 %}selected{% endif %}>{{ numToWeekdayAbbr(loop.index0) }}</option>
    {% endfor %}
  </select>
  <label>Slot:</label>
  <select name="slot-{{ loop.index }}">
    {% for s in slots %}
    <option value="{{ s['id'] }}" {% if user_slots[outer_loop.index0]['slot_id'] == s['id'] %}selected{% endif %}>{{ timeslot(s['start_time']) + " - " + timeslot(s['start_time'] + slot_length) }}</option>
    {% endfor %}
    <option value="-1" {% if user_slots[loop.index0]['slot_id'] == -1 %}selected{% endif %}>None</option>
  </select><br>
  {% endfor %}
  <input type="submit" value="Update">
</form>
{% endblock %}
